# Database Configuration

DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=fake_social

# Access token
JWT_SECRET=
JWT_EXPIRES_IN=1d

# Refresh token
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

# Application Configuration
NODE_ENV=development
PORT=3000
API_PREFIX=api

# Swagger
SWAGGER_USER=
SWAGGER_PASSWORD=

# Redis Cache Configuration
# Set to 'true' to enable Redis cache, any other value or unset to disable
REDIS_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379
CACHE_PROVIDER='redis'
LOAD_TEST_MODE=false